<section class="py-16" id="skills">
  <h2 class="text-4xl font-semibold mb-16">Technical Skills</h2>
<div class="bg-black/30 border border-white/5 rounded-2xl p-12">
  <div class="grid md:grid-cols-3 gap-16">

    <!-- Frontend -->
    <div class = "animate-on-scroll delay-100">
      <h3 class="text-lg font-medium mb-6 border-b border-gray-800 pb-2">
        Web UI
      </h3>
      <ul class="space-y-4 text-gray-300">
        <li>HTML5</li>
        <li>CSS3</li>
        <li>JavaScript</li>
        <li>Tailwind CSS</li>
        <li>Streamlit</li>
      </ul>
    </div>

    <!-- Backend -->
    <div class = "animate-on-scroll delay-200">

      <h3 class="text-lg font-medium mb-6 border-b border-gray-800 pb-2">
        Backend
      </h3>
      <ul class="space-y-3 text-gray-300">
        <li>Python</li>
        <li>Django</li>
        <li>FastAPI</li>
        <li>REST APIs</li>
      </ul>
    </div>

    <!-- Database -->
    <div class = "animate-on-scroll delay-300" >
      <h3 class="text-lg font-medium mb-6 border-b border-gray-800 pb-2">
        Databases
      </h3>
      <ul class="space-y-3 text-gray-300">
        <li>PostgreSQL</li>
        <li>SQLite</li>
      </ul>
    </div>

    <!-- Tools -->
    <div class = "animate-on-scroll delay-400">
      <h3 class="text-lg font-medium mb-6 border-b border-gray-800 pb-2">
        AI Tools
      </h3>
      <ul class="space-y-3 text-gray-300">
        <li>LangChain</li>
        <li>LangGraph</li>
        <li>LangFuse</li>
        <li>LLM orchestration & evaluation</li>
      </ul>
    </div>

    <!-- Data / ML -->
    <div class = "animate-on-scroll delay-500">
      <h3 class="text-lg font-medium mb-6 border-b border-gray-800 pb-2">
        Data & ML
      </h3>
      <ul class="space-y-3 text-gray-300">
        <li>Pandas</li>
        <li>NumPy</li>
        <li>PyTorch</li>
        <li>Time Series Analysis</li>
      </ul>
    </div>

    <!-- Systems -->
    <div class = "animate-on-scroll delay-600">
      <h3 class="text-lg font-medium mb-6 border-b border-gray-800 pb-2">
        Systems
      </h3>
      <ul class="space-y-3 text-gray-300">
        <li>Linux</li>
        <li>System Design (Basic)</li>
      </ul>
    </div>

  </div>
</div>
</section>
